<template>
  <div class="quesAnswerWarp">
    <!-- 中 -->
    <div class="middle">
      <div class="middleTop">
        <p>检索知识库</p>
        <div class="jiansuoInput">
          <el-input
            placeholder="请输入检索内容"
            prefix-icon="el-icon-search"
            v-model="inputSearch"
            @keyup.enter.native="search"
          >
          </el-input>
          <div class="chaxun" @click="search">查询</div>
        </div>
      </div>
      <div class="middleBottom">
        <div class="dialogueWarp">
          <div class="tableWarp" v-loading="tableLoading">
            <el-table
              :data="tableData"
              stripe
              style="width: 100%"
              :cell-style="cell"
              height="100%"
            >
              <el-table-column prop="name" label="文件名" width="300">
              </el-table-column>
              <el-table-column prop="content" label="文件内容">
              </el-table-column>
              <!--              <el-table-column prop="address" label="创建时间">-->
              <!--              </el-table-column>-->
              <!--              <el-table-column prop="address" label="修改时间">-->
              <!--              </el-table-column>-->
              <!--              <el-table-column prop="address" label="操作人"> </el-table-column>-->
              <!--              <el-table-column label="操作" width="100">-->
              <!--                <template slot-scope="scope">-->
              <!--                  &lt;!&ndash; @click="handleClick(scope.row)" &ndash;&gt;-->
              <!--                  <el-button type="text" size="small">查看</el-button>-->
              <!--                  <el-button type="text" size="small">编辑</el-button>-->
              <!--                </template>-->
              <!--              </el-table-column>-->
            </el-table>
          </div>
          <div class="pageWarp">
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="currentSize"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            >
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
    <!-- 右 -->
    <div class="right">
      <div class="sheding">
        <div class="wdjilgl">设定</div>
      </div>
      <div class="rightBottom">
        <!-- 检索参数 -->
        <div class="chaocanshu">
          <div class="ccswarp">
            <i class="el-icon-arrow-down"></i>
            检索参数
          </div>
          <!-- <div class="zhuyi">
            <el-alert
              title="注意：以下数值请谨慎更改！"
              type="warning"
              center
              show-icon
            >
            </el-alert>
          </div> -->
          <div class="canshu">
            <div class="dabou">
              <div class="zhi">
                <p>Top-k值：</p>
                <el-input
                  v-model="jinasuoCs.topk"
                  type="number"
                  placeholder="请输入Top-k值"
                ></el-input>
                <span>*该值范围应为0~100</span>
              </div>
              <div style="width: 5px"></div>
              <div class="zhi">
                <p>Fetch-K值：</p>
                <el-input
                  v-model="jinasuoCs.fetchk"
                  type="number"
                  placeholder="请输入Fetch-K值"
                ></el-input>
                <span>*该值范围应为0~100</span>
              </div>
            </div>
            <div class="kzhi">
              <p>Lamda-mult值：</p>
              <el-input
                v-model="jinasuoCs.lamdaMult"
                placeholder="请输入Lamda-mult值"
              ></el-input>
              <span>*该值范围应为0~1的小数,且小数点后一位</span>
            </div>
            <div class="kzhi">
              <p>检索算法：</p>
              <el-select
                style="width: 100%"
                v-model="jinasuoCs.jssf"
                placeholder="请选择算法"
              >
                <el-option
                  v-for="item in optionsSf"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </div>
          </div>
        </div>
        <!-- 知识库 -->
        <div class="zhishiku">
          <div class="zskwarp">
            <i class="el-icon-arrow-down"></i>
            <el-checkbox
              v-model="checkedZsk"
              @change="selectCheckZsk"
            ></el-checkbox>
            选择知识库
          </div>
          <div>
            <el-select
              style="width: 100%"
              v-model="valueZsk"
              placeholder="请选择"
            >
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </div>
        </div>
        <!-- 临时文件挂载 -->
        <div class="fileguazai">
          <div class="fgzwarp">
            <i class="el-icon-arrow-down"></i>
            <el-checkbox
              v-model="checkedFile"
              @change="selectCheckFile"
            ></el-checkbox>
            临时文件挂载
          </div>
          <div class="upLoadWarp">
            <el-upload
              class="upload-demo"
              drag
              multiple
              action="#"
              ref="dialogFileImageQB"
              :on-change="handleChangeImageQB"
              :on-remove="handleRemoveImageQB"
              :auto-upload="true"
              :file-list="fileListGz"
              :http-request="uploadFileImageQB"
              :before-upload="beforeUploadImageQB"
              accept=".pdf"
              >
              <!-- accept=".txt,.docx,.doc,.pdf,.xls,.xlsx" -->
              <!-- accept="image/png, image/jpg, image/jpeg" -->
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">
                将文件拖到此处，或<em>点击上传</em>
              </div>
              <div class="el-upload__tip" slot="tip">
                只能上传pdf文件
                <!-- 只能上传txt/docx/doc/pdf/xlsx/xls文件 -->
              </div>
            </el-upload>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  getFiles,
  retrieval,
  getName,
  download,
  deleteFile,
} from "@/api/index.js";
export default {
  data() {
    return {
      //   中间参数
      tableData: [
        // {
        //   date: "2016-05-03",
        //   name: "王小虎",
        //   address: "上海市普陀区金沙江路 1516 弄",
        // },
      ],
      options: [
        // {
        //   value: "选项1",
        //   label: "黄金糕",
        // },
        // {
        //   value: "选项2",
        //   label: "双皮奶",
        // },
        // {
        //   value: "选项3",
        //   label: "蚵仔煎",
        // },
        // {
        //   value: "选项4",
        //   label: "龙须面",
        // },
        // {
        //   value: "选项5",
        //   label: "北京烤鸭",
        // },
      ],
      optionsSf: [
        {
          label: "mmr",
          value: "mmr",
        },
        {
          label: "text_rank",
          value: "text_rank",
        },
        {
          label: "cosine_sim",
          value: "cosine_sim",
        },
        {
          label: "tf-idf",
          value: "tf-idf",
        },
      ],
      jinasuoCs: {
        topk: "35",
        fetchk: "40",
        lamdaMult: "0.3",
        jssf: "mmr",
      },
      tableLoading: false,
      currentPage: 1,
      currentSize: 10,
      total: 0,
      valueZsk: "",
      inputSearch: "",
      //右边参数
      checkedZsk: true,
      checkedFile: false,
      fileListGz: [
        // {
        //   name: "food.jpeg",
        //   url: "https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100",
        // },
      ],
    };
  },
  mounted() {},
  created() {
    // 获取数据
    this.getFileOptionList();
    this.getAllFile();
  },
  methods: {
    cell({ row, column, rowIndex, columnIndex }) {
      if (columnIndex == 0) {
        return "fontSize: 18px";
      }
      // if (columnIndex == 2) {
      //   return "color: blue";
      // }
    },
    //分页
    handleSizeChange(val) {
      this.currentSize = val;
      this.getAnswersNameList();
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getAnswersNameList();
      console.log(`当前页: ${val}`);
    },
    search() {
      this.getAnswersNameList();
    },
    async getAnswersNameList() {
      this.tableLoading = true;
      const { data: res } = await retrieval({
        commentContent: this.inputSearch,
        temporaryPath: this.checkedFile ? this.fileListGz : [],
        path: this.checkedZsk ? this.valueZsk : "",
        page: this.currentPage,
        pageSize: this.currentSize,
      });
      this.tableData = res.object;
      this.total = res.total;
      this.tableData = this.tableData.map((item) => {
        item.name = item[1];
        item.content = item[0];
        return item;
      });
      this.tableLoading = false;
      console.log(this.tableData, "this.tableData");
    },
    async getFileOptionList() {
      const { data: res } = await getFiles({});
      this.options = res.object.map((item, i) => {
        // if (i == 0) {
        item.value = item.dataUrl;
        item.label = item.database;
        // }
        return item;
      });
      // this.options = [
      //   {
      //     dataId: "8901920cb811460abff00ce2650813cb",
      //     dataSources: [],
      //     dataUrl: "./Knowledge/domain",
      //     database: "domain",
      //     label: "domain",
      //     value: "./Knowledge/domain",
      //   },
      // ];
      this.valueZsk =
        this.options && this.options.length > 0 ? this.options[0].value : "";
      // console.log(this.options, "this.options");
    },
    //单选
    selectCheckZsk() {
      // if (!this.checkedZsk) {
      //   this.checkedFile = true;
      // } else {
      //   this.checkedFile = false;
      // }
      if (this.checkedFile) {
        this.checkedFile = false;
      }
    },
    selectCheckFile() {
      if (this.checkedZsk) {
        this.checkedZsk = false;
      }
      // if (!this.checkedFile) {
      //   this.checkedZsk = true;
      // } else {
      //   this.checkedZsk = false;
      // }
    },
    getAllFile() {
      getName().then((res) => {
        if (res.data.status == 0) {
          this.fileListGz = res.data.object;
        }
      });
    },
    //文件上传
    beforeUploadImageQB(file) {
      let testmsg = file.name.substring(file.name.lastIndexOf(".") + 1);
      // const extension = testmsg === "txt";
      // const extension2 = testmsg === "docx";
      // const extension3 = testmsg === "doc";
      const extension4 = testmsg === "pdf";
      // const extension5 = testmsg === "xlsx";
      if (
        // !extension &&
        // !extension2 &&
        // !extension3 &&
        // !extension4 &&
        // !extension5
        !extension4
      ) {
        this.$message({
          message: "上传文件只能是pdf格式!",
          // message: "上传文件只能是 txt, docx, doc, pdf, xlsx格式!",
          type: "warning",
        });
        return false;
      }
    },
    handleChangeImageQB(file, fileList) {
      console.log(file, fileList, "111111111111111");
      // this.fileListGz = fileList;
    },
    async handleRemoveImageQB(file, fileList) {
      console.log(file, fileList, "移除");

      let res = await deleteFile({
        files: [file.url],
        module: "3",
      });
      if (res.data.status == 0) {
        this.$message.success(res.data.object);
      }
      // this.getAllFile();
      // this.fileListGz = fileList;
    },

    async uploadFileImageQB(param) {
      console.log(param.file, "http-request");
      let fileFile = new FormData();
      fileFile.append("file", param.file);
      fileFile.append("module", "3");
      console.log("0000");
      let res = await download(fileFile);
      if (res.data.status == 0) {
        this.fileListGz.push(res.data.object);
      }
      // console.log(res, "resImageresImageresImage");
      // if (resImage.data.code == 200) {

      // }
      // },
    },
  },
};
</script>

<style scoped lang="scss">
.quesAnswerWarp {
  width: 100%;
  height: 100%;
  display: flex;
  .middle {
    flex: 1;
    height: 100%;
    .middleTop {
      height: 200px;
      padding: 20px 0 0 20px;
      p {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        margin: 10px 0 20px 0;
      }
      .jiansuoInput {
        width: 700px;
        margin: 0 auto;
        display: flex;
        .chaxun {
          width: 88px;
          height: 50px;
          border: 1px solid #0046a3;
          background-color: #0046a3;
          padding: 10px 0 0 20px;
          // margin: 10px 5px;
          border-radius: 5px;
          cursor: pointer;
          color: #fff;
        }
        .chaxun:hover {
          opacity: 0.8;
        }
        /deep/ .el-input {
          font-size: 18px;
        }
        /deep/ .el-input__inner {
          height: 50px !important;
        }
      }
    }
    .middleBottom {
      padding: 0 5px 20px 5px;
      height: calc(100% - 200px);
      width: calc(100% - 10px);
      .dialogueWarp {
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
        .tableWarp {
          height: calc(100% - 70px);
          /deep/ .el-table {
            // height: calc(100% - 200px);
            border-radius: 10px;
          }
        }
        .pageWarp {
          text-align: right;
          padding: 10px 20px;
        }
      }
    }
  }
  .right {
    width: 344px;
    height: 100%;
    background-color: #ccdaed;
    .sheding {
      height: 70px;
      display: flex;
      padding: 0 20px;
      justify-content: space-between;
      .wdjilgl {
        line-height: 70px;
        font-size: 18px;
        font-weight: bold;
        color: #212121;
      }
    }
    .rightBottom {
      padding: 10px 20px;
      .chaocanshu {
        .ccswarp {
          height: 40px;
        }
        .zhuyi {
          /deep/ .el-alert__content {
            margin-top: -5px;
          }
        }
        .canshu {
          .kzhi {
            margin: 5px 0;
            p {
              margin: 3px 0;
            }
            span {
              color: #000e21;
              font-size: 14px;
            }
          }
          .dabou {
            display: flex;
            span {
              color: #000e21;
              font-size: 14px;
            }
          }
        }
      }
      .zhishiku {
        margin-top: 10px;
        .zskwarp {
          height: 40px;
          i {
            margin-right: 5px;
          }
        }
        // /deep/ .el-select {
        //   /deep/ .el-input {
        //     /deep/ .el-input__inner{
        //         width: 300px !important;
        //     }
        //   }
        // }
      }
      .fileguazai {
        margin-top: 10px;
        .fgzwarp {
          height: 40px;
          i {
            margin-right: 5px;
          }
        }
        .upLoadWarp {
          /deep/ .el-upload-dragger {
            width: 305px !important;
            height: 150px !important;
          }
          /deep/ .el-upload-list {
            // height: 415px;
            height: 265px;
            overflow: auto;
            &::-webkit-scrollbar {
              width: 12px; /* 宽度 */
              height: 12px; /* 高度 */
            }
            /* 轨道 */
            &::-webkit-scrollbar-track {
              background: #888; /* 轨道背景颜色 */
              border-radius: 6px; /* 滑块圆角 */
            }
            /* 滑块 */
            &::-webkit-scrollbar-thumb {
              background: #212121; /* 滑块颜色 */
              border-radius: 6px; /* 滑块圆角 */
            }
            /* 滑块悬停状态 */
            &::-webkit-scrollbar-thumb:hover {
              background: rgb(43, 43, 43); /* 悬停时的滑块颜色 */
            }
          }
        }
      }
    }
  }
}
</style>
