<template>
  <div class="homeWarp">
    <div class="left">
      <!-- logo -->
      <div class="logo">
        <div class="icon">
          <i class="el-icon-s-operation"></i>
        </div>
        <div class="logobj">中国兵器工业计算机应用技术研究所</div>
      </div>
      <!-- 管理员 -->
      <div class="administrators">
        <div class="peoLeft">
          <div class="peoWarp">
            <el-avatar icon="el-icon-user-solid"></el-avatar>
          </div>
          <div class="wenziWarp">
            <p class="nam">计算所</p>
            <p class="zw">系统管理员</p>
          </div>
        </div>
        <div class="iconRight">
          <i class="el-icon-arrow-right"></i>
        </div>
      </div>
      <!-- 业务 -->
      <div class="yewuWarp">
        <div class="yewu">
          <div
            :class="isSeleMenu == item.value ? 'menuWarp selemenu' : 'menuWarp'"
            v-for="(item, i) in yewuList"
            :key="i"
            @click="menuSelect($event, item)"
          >
            <div><img :src="item.src" alt="" /></div>
            <div class="menuname">{{ item.name }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <!-- 第二路有出口 -->
      <router-view />
    </div>
  </div>
</template>

<script>
// import { tokeninfo, oauth2token } from "@/api/index.js";
export default {
  name: "Home",
  components: {},
  data() {
    return {
      isSeleMenu: this.$route.name,
      yewuList: [
        {
          name: "问答",
          src: require("@/assets/wd.png"),
          path: "/quesAnswers",
          value: "quesAnswers",
        },
        {
          name: "知识检索",
          src: require("@/assets/zsjs.png"),
          path: "/knowledgeRetrieval",
          value: "knowledgeRetrieval",
        },
        {
          name: "智能业务",
          src: require("@/assets/znyw.png"),
          path: "/appStore",
          value: "appStore",
        },
        {
          name: "知识库管理",
          src: require("@/assets/zskgl.png"),
          path: "/knowledgeBase",
          value: "knowledgeBase",
        },
      ],
    };
  },
  // 监听,当路由发生变化的时候执行
  watch: {
    $route(to, from) {
      this.isSeleMenu = this.$route.name;
    },
  },
  mounted() {
    // console.log(this.$route, "this.$route");
  },
  methods: {
    //选择跳转路由
    menuSelect(event, val) {
      if (event.ctrlKey && event.button === 0) {
        // 执行你的逻辑
        const router = this.$router;
        const url = router.resolve({ path: val.path }).href;
        window.open(url, "_blank");
      } else {
        this.$router.push({ path: val.path });
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.homeWarp {
  // width: 1920px;
  // height: 1080px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  display: flex;
  background: url("~@/assets/rightBj1.png") no-repeat;
  background-size: 100% 100%;
  // background-attachment: fixed;
  .left {
    width: 280px;
    height: 100%;
    background: url("~@/assets/sidebar.png") no-repeat;
    background-size: 100% 100%;
    // background-attachment: fixed;
    color: #fff;
    .logo {
      height: 70px;
      display: flex;
      padding: 10px 20px;
      .icon {
        .el-icon-s-operation {
          margin: 7px 5px 0 0;
          font-size: 26px;
        }
      }
      .logobj {
        font-size: 12px;
        margin: 12px 0 0 0;
      }
    }
    .administrators {
      height: 72px;
      background: url("~@/assets/glyBj.png") no-repeat;
      // background-size: 100% 100%;
      // background-attachment: fixed;
      padding: 12px 24px;
      display: flex;
      justify-content: space-between;
      .peoLeft {
        display: flex;
        .peoWarp {
          width: 47px;
          height: 47px;
          margin-right: 5px;
          .el-avatar {
            width: 47px;
            height: 47px;
          }
          // border: 1px solid #fff;
          // border-radius: 50%;
        }
        .wenziWarp {
          .nam {
            font-size: 16px;
            margin: 3px 0;
          }
          .zw {
            font-size: 14px;
            opacity: 0.8;
          }
        }
      }
      .iconRight {
        font-size: 24px;
        margin-top: 5px;
        opacity: 0.8;
      }
    }
    .yewuWarp {
      padding: 10px 20px;
      .yewu {
        .menuWarp {
          display: flex;
          font-size: 16px;
          width: 234px;
          height: 50px;
          img {
            margin: 15px 10px 0 25px;
          }
          .menuname {
            line-height: 50px;
          }
        }
        .menuWarp:hover {
          background: url("~@/assets/seleBj.png") no-repeat;
          // background-size: 100% 100%;
          // background-attachment: fixed;
        }
        .selemenu {
          background: url("~@/assets/seleBj.png") no-repeat;
        }
      }
    }
  }
  .right {
    flex: 1;
    height: 100%;
  }
}
</style>
