<template>
  <div class="quesAnswerWarp" v-loading="loadingWdList">
    <!-- 左 -->
    <div class="left">
      <!-- 左头 -->
      <div class="title">
        <div class="wdjilgl">问答记录管理</div>
        <div class="icon" @click="addConversation()">
          <i class="el-icon-plus"></i>
        </div>
      </div>
      <!-- 左下 -->
      <div class="contentWarp">
        <div
          :class="nowSelectRecode == i ? 'neirong nowSelect' : 'neirong'"
          v-for="(item, i) in recodeList"
          :key="i"
          @click="recodeFun(item, i)"
        >
          <div class="nrLeft">
            <p
              style="
                width: 155px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              "
            >
              {{ item.name }}
            </p>
            <p style="font-size: 16px; font-weight: normal">
              创建者：{{ item.userName }}
            </p>
          </div>
          <div class="nrRight">
            <p>{{ item.createDate.split(" ")[0] }}</p>
            <p>{{ item.createDate.split(" ")[1] }}</p>
            <!-- <p>{{ item.createDate?.split(' ')[0] }}</p>
            <p>{{ item.createDate?.split(' ')[1] }}</p> -->
            <i @click.stop="xgnameDh(item)" class="el-icon-edit iconxg"></i>
            <i @click.stop="delDh(item)" class="el-icon-delete icondel"></i>
          </div>
        </div>
      </div>
    </div>
    <div
      style="flex: 1; display: flex"
      v-loading="loadingQhwd"
      v-if="recodeList.length > 0"
    >
      <!-- 中 -->
      <div class="middle">
        <div class="middleTop">
          <el-select v-model="gptValue" placeholder="请选择">
            <el-option
              v-for="item in gptBb"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
        <div class="middleBottom">
          <div class="dialogueWarp">
            <div class="dialogueTop">
              <div class="gdwap">
                <div v-for="(item, i) in dialogList" :key="i">
                  <!-- 回答对话 -->
                  <div class="answer" v-if="item.userName == 'assistant'">
                    <div class="touxiang"></div>
                    <div class="jieguo">
                      <div class="jb"></div>
                      <p style="line-height: 27px">{{ item.commentContent }}</p>
                      <hr v-if="item.quoteList && item.quoteList.length > 0" />
                      <el-collapse
                        v-if="item.quoteList && item.quoteList.length > 0"
                      >
                        <el-collapse-item
                          v-for="(ele, idx) in item.quoteList"
                          :key="idx"
                          :title="
                            ele[1] && ele[1].length >= 24
                              ? ele[1].slice(0, 24) + '...'
                              : ele[1]
                          "
                          :name="idx"
                        >
                          <div>{{ ele[0] }}</div>
                        </el-collapse-item>
                      </el-collapse>
                    </div>
                    <div style="position: relative; width: 315px">
                      <div style="position: absolute; bottom: 0; display: flex">
                        <el-button
                          style="position: absolute; top: -34px; left: 5px"
                          type="primary"
                          icon="el-icon-edit"
                          circle
                          size="medium"
                          @click="xiugaiHd(item)"
                        ></el-button>
                        <el-button
                          type="warning"
                          icon="el-icon-star-off"
                          style="position: absolute; top: -35px; left: 35px"
                          circle
                          size="medium"
                          @click="pingjiaHd($event, i, item)"
                        ></el-button>
                        <el-rate
                          v-if="isPingjia && pjidx == i"
                          style="padding: 5px 0 0 10px; margin: -34px 0 0 75px"
                          v-model="item.evaluate"
                          show-text
                          @change="changepf($event, item)"
                        >
                        </el-rate>
                      </div>
                    </div>
                  </div>
                  <!-- 提问对话 -->
                  <div class="ask" v-if="item.userName == 'user'">
                    <div class="jieguo">
                      <div class="jb"></div>
                      <p style="line-height: 27px">{{ item.commentContent }}</p>
                    </div>
                  </div>
                  <!-- 未光标闪烁 -->
                  <div class="answer wssgb" v-if="item.userName == 'ssgb'">
                    <div class="touxiang"></div>
                    <div class="jieguo">
                      <div class="jb"></div>
                      <div class="gbss" style="line-height: 27px">|</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dialogueBottom">
              <el-input
                type="textarea"
                :autosize="{ minRows: 5, maxRows: 5 }"
                placeholder="请输入提问内容"
                v-model="textarea2"
                resize="none"
                @keyup.enter.native="handleKeydown"
              >
              </el-input>
              <div class="btn">
                <div class="fasong" @click="qingkongFun()">清空</div>
                <div
                  class="yylr"
                  v-loading="yuyinLoading"
                  element-loading-spinner="el-icon-loading"
                  element-loading-background="rgba(0, 0, 0, 0.8)"
                  @mousedown="yystartFun"
                  @mouseup="yyendFun"
                >
                  <!-- 语音录入 -->
                  <!-- <span v-if="!recording">开始录音</span>
                  <span v-else>停止录音</span> -->
                  {{ recording ? "停止录音" : "开始录音" }}
                </div>
                <!-- <div class="yylr" v-if="!recording" @click="startRecording">
                  开始录音
                </div>
                <div class="yylr" v-else @click="stopRecording">停止录音</div> -->
                <div
                  v-loading="fsLoading"
                  element-loading-spinner="el-icon-loading"
                  element-loading-background="rgba(0, 0, 0, 0.8)"
                  class="qingkong"
                  @click="fasongFun()"
                >
                  发送
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 右 -->
      <div class="right">
        <div class="sheding">
          <div class="wdjilgl">设定</div>
        </div>
        <div class="rightBottom">
          <!-- 超参数 -->
          <div class="chaocanshu">
            <div class="ccswarp">
              <i class="el-icon-arrow-down"></i>
              超参数
            </div>
            <div class="zhuyi">
              <el-alert
                title="注意：以下数值请谨慎更改！"
                type="warning"
                center
                show-icon
              >
              </el-alert>
            </div>
            <div class="canshu">
              <div class="kzhi">
                <p>K值：</p>
                <el-input
                  v-model="chaocanshu.k"
                  placeholder="请输入K值"
                ></el-input>
                <span>*该值范围应为0~1</span>
              </div>
              <div class="kzhi">
                <p>Temperature值：</p>
                <el-input
                  v-model="chaocanshu.temperature"
                  placeholder="请输入Temperature值"
                ></el-input>
              </div>
              <div class="dabou">
                <div class="zhi">
                  <p>Top-p值：</p>
                  <el-input
                    v-model="chaocanshu.topp"
                    type="number"
                    placeholder="请输入Top-p值"
                  ></el-input>
                </div>
                <div style="width: 5px"></div>
                <div class="zhi">
                  <p>n choices值：</p>
                  <el-input
                    v-model="chaocanshu.nchoices"
                    type="number"
                    placeholder="请输入n choices值"
                  ></el-input>
                </div>
              </div>
              <div class="kzhi">
                <p>Max content值：</p>
                <el-input
                  v-model="chaocanshu.maxContent"
                  placeholder="请输入Max content值"
                ></el-input>
              </div>
              <div class="kzhi">
                <p>Max generations值：</p>
                <el-input
                  v-model="chaocanshu.maxGenerations"
                  placeholder="请输入Max generations值"
                ></el-input>
              </div>
            </div>
          </div>
          <!-- 知识库 -->
          <div class="zhishiku">
            <div class="zskwarp">
              <i class="el-icon-arrow-down"></i>
              <el-checkbox
                v-model="checkedZsk"
                @change="selectCheckZsk"
              ></el-checkbox>
              选择知识库
            </div>
            <div>
              <el-select
                style="width: 100%"
                v-model="valueZsk"
                placeholder="请选择"
                @change="getAnswersNameList()"
              >
                <el-option
                  v-for="item in options"
                  :key="item.dataUrl"
                  :label="item.database"
                  :value="item.dataUrl"
                >
                </el-option>
              </el-select>
            </div>
          </div>
          <!-- 临时文件挂载 -->
          <div class="fileguazai">
            <div class="fgzwarp">
              <i class="el-icon-arrow-down"></i>
              <el-checkbox
                v-model="checkedFile"
                @change="selectCheckFile"
              ></el-checkbox>
              临时文件挂载
            </div>
            <div class="upLoadWarp">
              <el-upload
                class="upload-demo"
                drag
                multiple
                action="#"
                ref="dialogFileImageQB"
                :on-change="handleChangeImageQB"
                :on-remove="handleRemoveImageQB"
                :auto-upload="true"
                :file-list="fileListGz"
                :http-request="uploadFileImageQB"
                :before-upload="beforeUploadImageQB"
                accept=".pdf"
              >
                <!-- accept=".txt,.docx,.doc,.pdf,.xls,.xlsx" -->
                <!-- accept="image/png, image/jpg, image/jpeg" -->
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">
                  将文件拖到此处，或<em>点击上传</em>
                </div>
                <div class="el-upload__tip" slot="tip">
                  <!-- 只能上传txt/docx/doc/pdf/xlsx/xls文件 -->
                  只能上传pdf文件
                </div>
              </el-upload>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 修改回答弹窗 -->
    <el-dialog
      title="修改"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :visible.sync="dialogVisibleXghd"
      custom-class="xiugaiDialog"
      width="950px"
      v-loading="dialogXghdLoading"
    >
      <div class="xiugaiText">
        <el-input
          type="textarea"
          :autosize="{ minRows: 10, maxRows: 20 }"
          placeholder="请输入修改内容"
          v-model="nowXg.commentContent"
          resize="none"
        >
        </el-input>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleXghd = false">取 消</el-button>
        <el-button type="primary" @click="xiugaiSure">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 修改问答名字弹窗 -->
    <el-dialog
      title="修改"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :visible.sync="dialogVisibleXgdh"
      width="400px"
      v-loading="xgDhLoading"
    >
      <div style="display: flex">
        <p style="width: 50px; line-height: 40px">名称：</p>
        <el-input placeholder="请输入名称" v-model="ansName" clearable>
        </el-input>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleXgdh = false">取 消</el-button>
        <el-button type="primary" @click="xgDhname()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getAnswersName,
  getAllRecords,
  postAnswer,
  getFiles,
  download,
  deleteIds,
  deleteFile,
  updateContent,
  addEvaluate,
  updateIds,
  voiceControllerUpload,
} from "@/api/index.js";
import RecordRTC from "recordrtc";
export default {
  data() {
    return {
      webSocketUrl: webSocketUrl,
      // 左边参数
      recodeList: [],
      nowSelectRecode: 0,
      nowSelectRecord: {},
      loadingQhwd: false,
      loadingWdList: false,
      // nowSelectRecord: {},
      //   中间参数
      gptBb: [
        {
          name: "chatglm3-6b",
          value: "chatglm3-6b",
        },
      ],
      gptValue: "chatglm3-6b",
      options: [],
      dialogList: [],
      valueZsk: "",
      textarea2: "",
      input: "",
      //右边参数
      chaocanshu: {
        k: "1",
        temperature: "1",
        topp: "1",
        nchoices: "1",
        maxContent: "32768",
        maxGenerations: "1000",
      },
      checkedZsk: true,
      checkedFile: false,
      temfileUrl: "",
      fileListGz: [
        // {
        //   name: "food.jpeg",
        //   url: "https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100",
        // },
      ],
      fsLoading: true,
      pjidx: -1,
      isPingjia: false,
      dialogVisibleXghd: false,
      dialogXghdLoading: false,
      nowXg: {},
      nowXgCpoy: {},
      ansName: "",
      dialogVisibleXgdh: false,
      xgDhLoading: false,
      nowDh: {},
      nowDhCopy: {},
      websocket: null,
      // 语音
      recorder: null,
      recording: false,
      recordedBlob: null,
      recordedBlobURL: null,
      isDunTime: false,
      yuyinLoading: false,
    };
  },
  created() {
    // 获取数据
    this.init();
  },
  mounted() {
    // this.scrollToBottom();
    // 在组件挂载后建立WebSocket连接
    this.setupWebSocket();
  },
  methods: {
    async init() {
      await this.getAnswersNameList();
      // this.getAllRecordList();
      this.getFileOptionList();
    },
    async getAnswersNameList(isAdd = false) {
      this.loadingWdList = true;
      const { data: res } = await getAnswersName({
        parameter: isAdd ? "1" : "",
      }).catch((err) => {
        this.loadingWdList = false;
      });
      if (isAdd) {
        this.nowSelectRecode = 0;
        this.dialogList = [];
        this.valueZsk = this.options[0].dataUrl;
      }
      this.loadingWdList = false;
      this.recodeList = res.object;
      if (this.recodeList.length > 0) {
        this.nowSelectRecord = this.recodeList[this.nowSelectRecode];
        this.fileListGz = this.recodeList[this.nowSelectRecode].temporaryName;
        this.loadingQhwd = false;
      }
      // console.log(this.recodeList, "this.recodeList");
    },
    async getAllRecordList() {
      this.loadingQhwd = true;
      if (this.nowSelectRecode >= this.recodeList.length) {
        return;
      }
      this.nowSelectRecord = this.recodeList[this.nowSelectRecode];
      const { data: res } = await getAllRecords({
        answersId: this.nowSelectRecord.answersId,
        name: this.nowSelectRecord.name,
      });
      this.dialogList = res.object;
      // console.log(this.recodeList, "this.recodeList");
      this.valueZsk = this.nowSelectRecord.path
        ? this.nowSelectRecord.path
        : this.options[0].dataUrl;
      this.temfileUrl = this.nowSelectRecord.tem;
      this.loadingQhwd = false;
      this.scrollToBottom();
    },
    async getFileOptionList() {
      this.loadingQhwd = true;
      const { data: res } = await getFiles({});
      this.options = res.object;
      // .map((item) => {
      //   item.value = item.dataUrl;
      //   item.label = item.database;
      //   return item;
      // });
      // if (this.options.length > 0) {
      //   this.valueZsk = this.options[0].dataUrl;
      // }
      // console.log(this.options, "this.options");
      this.getAllRecordList();
    },
    // 点击对话记录
    recodeFun(val, i) {
      if (this.websocket) {
        this.websocket.close();
        this.websocket = null;
      }
      // console.log(val,'adasdas')
      this.nowSelectRecord = val;
      this.fileListGz = val.temporaryName;
      this.nowSelectRecode = i;
      this.getAllRecordList();
    },
    xgnameDh(val) {
      this.nowDh = JSON.parse(JSON.stringify(val));
      this.nowDhCopy = val;
      this.ansName = this.nowDh.name;
      this.dialogVisibleXgdh = true;
    },
    xgDhname() {
      this.xgDhLoading = true;
      updateIds({
        answersId: this.nowDh.answersId,
        answersName: this.ansName,
      }).then((res) => {
        if (res.data.status == 0) {
          this.nowDhCopy.name = this.ansName;
          this.$message.success(res.data.object);
          this.dialogVisibleXgdh = false;
        } else {
          this.$message.error(res.data.object);
        }
        this.xgDhLoading = false;
      });
    },
    delDh(val) {
      this.$confirm("确认删除？")
        .then((_) => {
          deleteIds({
            answersId: val.answersId,
          }).then((res) => {
            // console.log(res, "del");
            if (res.data.status == 0) {
              this.$message.success(res.data.object);
              this.nowSelectRecode = 0;
              this.init();
            }
          });
        })
        .catch((_) => {});
    },
    //默认滚动到最底部
    scrollToBottom() {
      this.$nextTick(() => {
        let box = this.$el.querySelector(".dialogueTop");
        box.scrollTop = box.scrollHeight;
      });
    },
    //清空输入框
    qingkongFun() {
      this.textarea2 = "";
    },
    // websocket
    setupWebSocket() {
      this.fsLoading = true;
      // 创建WebSocket连接
      this.websocket = new WebSocket(`${this.webSocketUrl}/answers`);

      // 监听连接打开事件
      this.websocket.onopen = () => {
        console.log("连接成功");
        this.fsLoading = false;
        if (this.textarea2.trim() != "") {
          this.fasongFun();
        }
      };

      // 监听接收到消息事件
      this.websocket.onmessage = (event) => {
        // console.log(event.data)
        // console.log("接收到消息:", JSON.parse(event.data));
        // return
        if (this.fsLoading) {
          this.dialogList.splice(-1);
          this.dialogList.push({
            userName: "assistant",
            commentContent: "",
            quoteList: JSON.parse(event.data).quoteList,
            contentId: JSON.parse(event.data).countId,
          });
        }
        this.fsLoading = false;
        this.dialogList[this.dialogList.length - 1].commentContent = JSON.parse(
          event.data
        ).response;
        this.scrollToBottom();
      };

      // 监听连接关闭事件
      this.websocket.onclose = () => {
        console.log("关闭连接");
        // this.setupWebSocket();
        if (this.fsLoading) {
          this.dialogList.splice(-1);
          this.fsLoading = false;
        }
        if (this.websocket) {
          this.websocket.close();
          this.websocket = null;
        }
      };

      // 监听WebSocket错误
      this.websocket.onerror = (error) => {
        console.error("连接错误:", error);
        if (this.websocket) {
          this.websocket.close();
          this.websocket = null;
        }
      };
    },
    sendMessage() {
      // if (!this.websocket) {
      //   console.error("WebSocket connection not established.");
      //   return;
      // }

      // if (this.message.trim() === "") {
      //   console.error("Message cannot be empty.");
      //   return;
      // }

      // 发送消息
      let wenzi = JSON.parse(JSON.stringify(this.textarea2));
      console.log("发送消息:", wenzi);
      this.textarea2 = "";
      let obj = {
        commentContent: wenzi,
        temporaryPath: this.checkedFile
          ? this.nowSelectRecord.temporaryName
          : [],
        path: this.checkedZsk ? this.valueZsk : "",
        answersId: this.nowSelectRecord.answersId,
        answersName: this.nowSelectRecord.name,
        model: "1",
      };
      this.websocket.send(JSON.stringify(obj));
      // console.log(wenzi, obj, "obj");
      // console.log(JSON.stringify(obj), "JSON.stringify(obj)");
      // this.websocket.send("asdasd");

      // 清空输入框
      // this.message = "";
    },
    //发送
    fasongFun() {
      if (this.textarea2.trim() == "") {
        this.$message.warning("请输入问题！");
        return;
      }
      if (!this.websocket) {
        console.log("断开连接了，正在重新连接");
        this.setupWebSocket();
        return;
      }
      if (!this.fsLoading) {
        this.dialogList.push({
          userName: "user",
          commentContent: this.textarea2,
        });
        this.dialogList.push({
          userName: "ssgb",
        });
        // let wenzi = JSON.parse(JSON.stringify(this.textarea2));
        // this.textarea2 = "";
        this.scrollToBottom();
        this.fsLoading = true;
        // 发送消息
        this.sendMessage();
        return;
        // postAnswer({
        //   commentContent: wenzi,
        //   temporaryPath: this.checkedFile
        //     ? this.nowSelectRecord.temporaryName
        //     : [],
        //   path: this.checkedZsk ? this.valueZsk : "",
        //   answersId: this.nowSelectRecord.answersId,
        //   answersName: this.nowSelectRecord.name,
        // })
        //   .then((res) => {
        //     const recordTemps = res.data.object;
        //     this.dialogList.splice(-2);
        //     this.dialogList = this.dialogList.concat(recordTemps);
        //     // console.log(this.dialogList, "this.dialogList");
        //     // console.log(recordTemps, "recordTemps");
        //     // this.textarea2 = "";
        //     this.scrollToBottom();
        //     this.fsLoading = false;
        //   })
        //   .catch((err) => {
        //     this.dialogList.splice(-1);
        //     this.scrollToBottom();
        //     this.fsLoading = false;
        //   });
      }
    },
    handleKeydown(event) {
      if (event.shiftKey && event.key === "Enter") {
        // Shift + Enter 被按下，执行你想要的操作
        this.fasongFun();
      }
    },
    // 语音录入
    yystartFun() {
      if (this.yuyinLoading) {
        return;
      }
      // console.log("开始", this.recording);
      this.isDunTime = false;
      this.startRecording();
    },
    yyendFun() {
      if (this.yuyinLoading) {
        return;
      }
      // console.log("结束", this.recording);
      if (this.recording) {
        this.stopRecording();
      } else {
        this.$message.warning("录制时间太短，请重新录制！");
        this.isDunTime = true;
      }
    },
    startRecording() {
      navigator.mediaDevices
        .getUserMedia({ audio: true })
        .then((stream) => {
          if (!this.isDunTime) {
            this.recording = true;
          }
          // this.recorder = RecordRTC(stream, {
          //   type: "video",
          //   mimeType: "video/mp4",
          // });
          this.recorder = RecordRTC(stream, {
            type: "audio",
            mimeType: "audio/wav",
            // sampleRate: 16000, // 采样率为16k Hz
            // numberOfAudioChannels: 1, // 单通道
            // desiredSampRate: 16000, // 期望的采样率
            // bufferSize: 4096, // 缓冲区大小
            // // 设置位深度为16位，编码格式为pcm_s16le
            // // 这里使用libvorbis库进行编码
            // recorderType: RecordRTC.StereoAudioRecorder,
            // disableLogs: true,
            // bitsPerSecond: 16,
          });
          this.recorder.startRecording();
        })
        .catch((error) => {
          console.error("获取用户媒体设备失败:", error);
        });
    },
    stopRecording() {
      this.recording = false;
      this.isDunTime = false;
      this.recorder.stopRecording(() => {
        this.recordedBlob = this.recorder.getBlob();

        this.yuyinLoading = true;
        // 调用后端接口
        const formData = new FormData();
        formData.append("fileBytes", this.recordedBlob, "recorded_audio.wav");
        voiceControllerUpload(formData).then((res) => {
          // console.log(res, "语音接口");
          if (res.data.status == 0) {
            this.textarea2 = res.data.object;
          }
          this.yuyinLoading = false;
        });
      });
    },
    //新增对话框
    addConversation() {
      if (this.websocket) {
        this.websocket.close();
        this.websocket = null;
      }
      this.getAnswersNameList(true);
    },
    //单选
    selectCheckZsk() {
      // if (!this.checkedZsk) {
      //   this.checkedFile = true;
      // } else {
      //   this.checkedFile = false;
      // }
      if (this.checkedFile) {
        this.checkedFile = false;
      }
    },
    selectCheckFile() {
      if (this.checkedZsk) {
        this.checkedZsk = false;
      }
      // if (!this.checkedFile) {
      //   this.checkedZsk = true;
      // } else {
      //   this.checkedZsk = false;
      // }
    },
    //文件上传
    beforeUploadImageQB(file) {
      let testmsg = file.name.substring(file.name.lastIndexOf(".") + 1);
      // const extension = testmsg === "txt";
      // const extension2 = testmsg === "docx";
      // const extension3 = testmsg === "doc";
      const extension4 = testmsg === "pdf";
      // const extension5 = testmsg === "xlsx";
      if (
        // !extension &&
        // !extension2 &&
        // !extension3 &&
        // !extension4 &&
        // !extension5
        !extension4
      ) {
        this.$message({
          message: "上传文件只能是pdf格式!",
          // message: "上传文件只能是 txt, docx, doc, pdf, xlsx格式!",
          type: "warning",
        });
        return false;
      }
    },
    handleChangeImageQB(file, fileList) {
      // console.log(file, fileList, "111111111111111");
      this.fileListGz = fileList;
    },
    async handleRemoveImageQB(file, fileList) {
      // console.log(file, fileList, "移除");

      let res = await deleteFile({
        fileName: this.nowSelectRecord.answersId,
        files: [file.url],
      });
      if (res.data.status == 0) {
        this.$message.success(res.data.object);
      }
      this.getAnswersNameList();
      // this.fileListGz = fileList;
    },

    async uploadFileImageQB(param) {
      // console.log(param.file, "http-request");
      let fileFile = new FormData();
      fileFile.append("file", param.file);
      fileFile.append("answersId", this.nowSelectRecord.answersId);
      fileFile.append("name", this.nowSelectRecord.name);
      fileFile.append("module", "1");
      let resImage = await download(fileFile);
      // console.log(resImage, "resImageresImageresImage");
      this.getAnswersNameList();
      // if (resImage.data.code == 200) {

      // }
      // },
    },
    // 评价
    pingjiaHd(e, i, val) {
      let target = e.target;
      if (target.nodeName === "SPAN") {
        target = e.target.parentNode;
      }
      target.blur();
      if (this.pjidx != i) {
        this.isPingjia = false;
      }
      this.isPingjia = !this.isPingjia;
      this.pjidx = i;
      this.nowXg = JSON.parse(JSON.stringify(val));
    },
    changepf(val, item) {
      addEvaluate({
        evaluate: val,
        modelId: "1",
        contentId: this.nowXg.contentId,
      }).then((res) => {
        if (res.data.status == 0) {
          this.$message.success(res.data.object);
        } else {
          this.$message.error(res.data.object);
        }
        this.isPingjia = false;
        this.pjidx = -1;
      });
    },
    // 修改回答
    xiugaiHd(val) {
      this.nowXg = JSON.parse(JSON.stringify(val));
      this.nowXgCpoy = val;
      this.dialogVisibleXghd = true;
    },
    xiugaiSure() {
      // this.dialogXghdLoading = true;
      let obj = {
        contentId: this.nowXg.contentId,
        commentContent: this.nowXg.commentContent,
        modelId: "1",
      };
      updateContent(obj).then((res) => {
        if (res.data.status == 0) {
          this.$message.success(res.data.object);
          this.nowXgCpoy.commentContent = this.nowXg.commentContent;
        } else {
          this.$message.error(res.data.object);
        }
        this.dialogVisibleXghd = false;
      });
    },
  },
  beforeDestroy() {
    // 在组件销毁前关闭WebSocket连接
    if (this.websocket) {
      console.log("销毁");
      this.websocket.close();
    }
  },
};
</script>

<style scoped lang="scss">
.quesAnswerWarp {
  width: 100%;
  height: 100%;
  display: flex;
  .left {
    width: 325px;
    height: 100%;
    .title {
      height: 70px;
      display: flex;
      padding: 0 20px;
      justify-content: space-between;
      .wdjilgl {
        line-height: 70px;
        font-size: 18px;
        font-weight: bold;
        color: #212121;
      }
      .icon {
        .el-icon-plus {
          font-size: 24px;
          margin-top: 22px;
          cursor: pointer;
          color: #999999;
          font-weight: bold;
        }
      }
    }
    .contentWarp {
      height: calc(100% - 70px);
      box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
      // background-color: bisque;
      overflow: auto;
      //   &::-webkit-scrollbar {
      //     width: 0;
      //   }
      /* 宽度和高度 */
      &::-webkit-scrollbar {
        width: 12px; /* 宽度 */
        height: 12px; /* 高度 */
      }
      /* 轨道 */
      &::-webkit-scrollbar-track {
        background: #888; /* 轨道背景颜色 */
        border-radius: 6px; /* 滑块圆角 */
      }
      /* 滑块 */
      &::-webkit-scrollbar-thumb {
        background: #212121; /* 滑块颜色 */
        border-radius: 6px; /* 滑块圆角 */
      }
      /* 滑块悬停状态 */
      &::-webkit-scrollbar-thumb:hover {
        background: rgb(43, 43, 43); /* 悬停时的滑块颜色 */
      }
      .neirong {
        padding: 10px 30px 0 20px;
        display: flex;
        justify-content: space-between;
        height: 79px;
        border-bottom: 1px solid #818181;
        cursor: pointer;
        .nrLeft {
          p {
            line-height: 30px;
            font-size: 18px;
            font-weight: bold;
            color: #212121;
          }
        }
        .nrRight {
          color: #565555;
          position: relative;
          width: 120px;
          .icondel {
            position: absolute;
            top: 47px;
            left: 110px;
            font-size: 16px;
          }
          .icondel:hover {
            color: red;
          }
          .iconxg {
            position: absolute;
            top: 47px;
            left: 85px;
            font-size: 16px;
          }
          .iconxg:hover {
            color: #409eff;
          }
        }
      }
      .neirong:hover {
        background-color: #ccdaed;
      }
      .nowSelect {
        background-color: #ccdaed;
      }
    }
  }
  .middle {
    flex: 1;
    height: 100%;
    .middleTop {
      height: 70px;
      padding: 20px 0 0 20px;
    }
    .middleBottom {
      padding: 0 20px 20px 0;
      height: calc(100% - 70px);
      .dialogueWarp {
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
        .dialogueTop {
          // height: 780px;
          height: calc(100% - 215px);
          border-radius: 10px 10px 0 0;
          overflow: auto;
          // transition:all 3s;
          // .gdwap {
          // transition:all 3s;
          // }
          /* 宽度和高度 */
          &::-webkit-scrollbar {
            width: 12px; /* 宽度 */
            height: 12px; /* 高度 */
          }
          /* 轨道 */
          &::-webkit-scrollbar-track {
            background: #888; /* 轨道背景颜色 */
            border-radius: 6px; /* 滑块圆角 */
          }
          /* 滑块 */
          &::-webkit-scrollbar-thumb {
            background: #212121; /* 滑块颜色 */
            border-radius: 6px; /* 滑块圆角 */
          }
          /* 滑块悬停状态 */
          &::-webkit-scrollbar-thumb:hover {
            background: rgb(43, 43, 43); /* 悬停时的滑块颜色 */
          }
          .answer,
          .ask {
            //   position: relative;
            display: flex;
            padding: 10px 20px;
            .touxiang {
              width: 46px;
              height: 46px;
              background: url("~@/assets/anserTxjss.png") no-repeat;
              background-size: 100% 100%;
              margin-top: -24px;
            }
            .jieguo {
              //   position: absolute;
              //   flex: 1;
              //   max-width: 453px;
              max-width: 453px;
              padding: 5px 10px;
              margin-left: 10px;
              position: relative;
              background-color: #ccdaed;
              border-radius: 0 5px 5px 5px;
              .jb {
                position: absolute;
                left: -6px;
                top: 0px;
                width: 6px;
                height: 8px;
                background: url("~@/assets/wdAnserBj.png") no-repeat;
              }
              .gbss {
                animation: blink 0.8s infinite;
              }
              @keyframes blink {
                0% {
                  opacity: 1;
                } /* 初始状态，不透明度为1（完全显示）*/
                50% {
                  opacity: 0;
                } /* 过渡到50％时，将不透明度设置为0（完全消失）*/
                100% {
                  opacity: 1;
                } /* 最后状态，再次变为完全显示*/
              }
              /deep/ .el-collapse {
                border: none !important;
                width: 433px !important;
              }
              /deep/ .el-collapse-item__header,
              /deep/ .el-collapse-item__wrap {
                background-color: #ccdaed !important;
                color: #000 !important;
                border: none !important;
                font-size: 16px;
              }
              /deep/ .el-collapse-item__content {
                font-size: 16px;
                padding: 0;
              }
              /deep/ .el-collapse-item__header {
                font-weight: bold !important;
                height: 30px;
                line-height: 30px;
              }
            }
          }
          .wssgb {
            .jieguo {
              width: 45px;
            }
          }
          .ask {
            justify-content: flex-end; /* 水平右对齐 */
            align-items: center; /* 垂直居中 */
            // position: relative;
            // height: 100px;
            .jieguo {
              border-radius: 5px 0 5px 5px;
              background-color: #003882;
              color: #fff;
              margin-right: -15px;
              // position: absolute;
              overflow: hidden;
              // right: 10px;
              // left: 450px;
              .jb {
                position: absolute;
                left: 453px;
                top: 0px;
                width: 6px;
                height: 8px;
                background: url("~@/assets/wdAskBj.png") no-repeat;
              }
            }
          }
        }
        .dialogueBottom {
          box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
          padding: 10px 20px;
          /deep/ .el-textarea {
            font-size: 18px !important;
          }
          .btn {
            display: flex;
            float: right;
            /deep/ .el-loading-spinner {
              margin-top: -12px;
            }
            div {
              width: 88px;
              height: 38px;
              border: 1px solid #0046a3;
              background-color: #0046a3;
              padding: 5px 0 0 25px;
              margin: 10px 5px;
              border-radius: 5px;
              cursor: pointer;
            }
            .qingkong {
              color: #fff;
            }
            .fasong,
            .yylr {
              background-color: #fff;
            }
            .fasong:hover,
            .yylr:hover {
              background-color: #bfd8fa;
            }
            .yylr {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
  .right {
    width: 344px;
    height: 100%;
    background-color: #ccdaed;
    .sheding {
      height: 70px;
      display: flex;
      padding: 0 20px;
      justify-content: space-between;
      .wdjilgl {
        line-height: 70px;
        font-size: 18px;
        font-weight: bold;
        color: #212121;
      }
    }
    .rightBottom {
      padding: 10px 20px;
      .chaocanshu {
        .ccswarp {
          height: 40px;
        }
        .zhuyi {
          /deep/ .el-alert__content {
            margin-top: -5px;
          }
        }
        .canshu {
          .kzhi {
            margin: 5px 0;
            p {
              margin: 3px 0;
            }
            span {
              color: #000e21;
              font-size: 14px;
            }
          }
          .dabou {
            display: flex;
          }
        }
      }
      .zhishiku {
        margin-top: 10px;
        .zskwarp {
          height: 40px;
          i {
            margin-right: 5px;
          }
        }
        // /deep/ .el-select {
        //   /deep/ .el-input {
        //     /deep/ .el-input__inner{
        //         width: 300px !important;
        //     }
        //   }
        // }
      }
      .fileguazai {
        margin-top: 10px;
        .fgzwarp {
          height: 40px;
          i {
            margin-right: 5px;
          }
        }
        .upLoadWarp {
          /deep/ .el-upload-dragger {
            width: 305px !important;
            height: 150px !important;
          }
          /deep/ .el-upload-list {
            height: 100px;
            overflow: auto;
            &::-webkit-scrollbar {
              width: 12px; /* 宽度 */
              height: 12px; /* 高度 */
            }
            /* 轨道 */
            &::-webkit-scrollbar-track {
              background: #888; /* 轨道背景颜色 */
              border-radius: 6px; /* 滑块圆角 */
            }
            /* 滑块 */
            &::-webkit-scrollbar-thumb {
              background: #212121; /* 滑块颜色 */
              border-radius: 6px; /* 滑块圆角 */
            }
            /* 滑块悬停状态 */
            &::-webkit-scrollbar-thumb:hover {
              background: rgb(43, 43, 43); /* 悬停时的滑块颜色 */
            }
          }
        }
      }
    }
  }
  .xiugaiDialog {
    & .xiugaiText {
      /deep/ .el-textarea__inner,
      /deep/ .el-input__inner {
        font-family: "Microsoft";
        font-size: 16px;
      }
    }
  }
}
</style>
