<template>
  <div class="quesAnswerWarp" v-loading="zskListLoading">
    <!-- 左 -->
    <div class="left">
      <!-- 左头 -->
      <div class="title">
        <div class="wdjilgl">知识库</div>
        <div class="icon" @click="openTjzsk">
          <i class="el-icon-plus"></i>
        </div>
      </div>
      <!-- 左下 -->
      <div class="contentWarp">
        <div
          :class="nowSelectRecode == i ? 'neirong nowSelect' : 'neirong'"
          v-for="(item, i) in options"
          :key="i"
          @click="recodeFun(item, i)"
        >
          <div class="nrLeft">
            <p>名称：{{ item.database }}</p>
            <p style="font-size: 16px; font-weight: normal">
              路径：{{ item.dataUrl }}
            </p>
            <i @click.stop="delZsk(item, i)" class="el-icon-delete icondel"></i>
          </div>
          <!--          <div class="nrRight">{{ item.time }}</div>-->
        </div>
      </div>
    </div>
    <!-- 中 -->
    <div
      class="middle"
      v-show="nowSelectRecode >= 0"
      v-loading="zskContLoading"
    >
      <div class="middleTop">
        <div class="xinzeng" @click="xzwjTc()">新增</div>
        <div class="inputCx">
          <el-input
            placeholder="请输入查询内容"
            prefix-icon="el-icon-search"
            v-model="searchVal"
            clearable
          >
          </el-input>
        </div>
        <div class="xinzeng" @click="selectFiled">查询</div>
      </div>
      <div class="middleBottom">
        <div class="dialogueWarp">
          <div class="tableWarp">
            <el-table :data="tableData" stripe height="calc(100% - 50px)">
              <!-- :key="tableNum" -->
              <!-- style="width: 100%" -->
              <el-table-column prop="name" label="文件名" width="300">
              </el-table-column>
              <el-table-column prop="suffix" label="文件类型" width="150">
              </el-table-column>
              <el-table-column prop="path" label="文件路径"> </el-table-column>
              <!--              <el-table-column prop="date" label="文件名" width="180">-->
              <!--              </el-table-column>-->
              <!--              <el-table-column prop="name" label="大小" width="180">-->
              <!--              </el-table-column>-->
              <!--              <el-table-column prop="address" label="创建时间">-->
              <!--              </el-table-column>-->
              <!--              <el-table-column prop="address" label="修改时间">-->
              <!--              </el-table-column>-->
              <!--              <el-table-column prop="address" label="操作人"> </el-table-column>-->
              <el-table-column label="操作" width="100">
                <template slot-scope="scope">
                  <el-button
                    @click="deleteWj(scope.row)"
                    type="text"
                    size="small"
                    >删除</el-button
                  >
                </template>
              </el-table-column>
            </el-table>
          </div>
          <!-- <div class="pageWarp">
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="currentPage4"
              :page-sizes="[100, 200, 300, 400]"
              :page-size="100"
              layout="total, sizes, prev, pager, next, jumper"
              :total="400"
            >
            </el-pagination>
          </div> -->
        </div>
      </div>
    </div>
    <div class="noDataMiddle" v-show="nowSelectRecode < 0"></div>
    <!-- 右 -->
    <div class="right">
      <div class="sheding">
        <div class="wdjilgl">文档工具</div>
      </div>
      <div class="rightBottom" v-for="(ele, idx) in gongnengList" :key="idx">
        <!-- 编辑 -->
        <div class="chaocanshu">
          <div class="ccswarp">
            <i class="el-icon-arrow-down"></i>
            {{ ele.title }}
          </div>
        </div>
        <!-- 主体 -->
        <div class="subjectBj">
          <el-tooltip
            v-for="(item, i) in ele.gongjuList"
            :key="i"
            class="item"
            effect="dark"
            :content="item.name"
            placement="top"
          >
            <div class="sbwarp" @click="routerPath($event, item.path)">
              <img class="bj" :src="item.src" alt="" />
              <p>{{ item.name }}</p>
            </div>
          </el-tooltip>
        </div>
      </div>
    </div>
    <el-dialog
      title="添加知识库"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :visible.sync="dialogVisibleTjzsk"
      width="400px"
      v-loading="tjzskLoading"
    >
      <div style="display: flex">
        <p style="width: 50px; line-height: 40px">名称：</p>
        <el-input placeholder="请输入名称" v-model="tjzskInput" clearable>
        </el-input>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleTjzsk = false">取 消</el-button>
        <el-button type="primary" @click="xinzZsk()">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="添加文件"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :visible.sync="dialogVisibleTjWj"
      custom-class="tjwjDialog"
      width="400px"
      v-loading="tjwjLoading"
      @close="qxWjsc"
    >
      <div class="tjwjUploadWarp">
        <el-upload
          class="upload-demo"
          drag
          multiple
          :action="`${apiConfig}/QuestionsController/uploading`"
          ref="dialogFileImageQB"
          :on-change="handleChangeImageQB"
          :on-remove="handleRemoveImageQB"
          :auto-upload="false"
          :file-list="fileListGz"
          :http-request="uploadFileImageQB"
          accept=".pdf"
          >
          <!-- accept=".txt,.docx,.doc,.pdf,.xls,.xlsx" -->
          <!-- :before-upload="beforeUploadImageQB" -->
          <!-- accept="image/png, image/jpg, image/jpeg" -->
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
          <div class="el-upload__tip" slot="tip">
            只能上传pdf文件
            <!-- 只能上传txt/docx/doc/pdf/xlsx/xls文件 -->
          </div>
        </el-upload>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="qxWjsc">取 消</el-button>
        <el-button type="primary" @click="tjWj()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getFiles, selectFiled, insert, uploading, deleteFiles } from "@/api";

export default {
  data() {
    return {
      apiConfig: apiConfig,
      // 左边参数
      options: [],
      zskListLoading: true,
      zskContLoading: false,
      nowSelectRecode: -1,
      dialogVisibleTjzsk: false,
      dialogVisibleTjWj: false,
      tjzskLoading: false,
      tjwjLoading: false,
      tjzskInput: "",
      duihuaNow: {},
      //   中间参数
      searchVal: "",
      tableData: [],
      currentPage4: 4,
      //文件
      fileListGz: [],
      fileDateGz: [],
      // 右侧功能按钮
      gongnengList: [
        {
          title: "转换",
          gongjuList: [
            {
              name: "图像与PDF",
              src: require("@/assets/txpdf.png"),
              path: "",
            },
            {
              name: "Word与PDF",
              src: require("@/assets/PDFshuju.png"),
              path: "",
            },
          ],
        },
        {
          title: "编辑",
          gongjuList: [
            {
              name: "文件合并",
              src: require("@/assets/wjhb.png"),
              path: "",
            },
            {
              name: "文件拆页",
              src: require("@/assets/wjcy.png"),
              path: "",
            },
          ],
        },
        {
          title: "工具",
          gongjuList: [
            {
              name: "OCR识别",
              src: require("@/assets/ocrbj.png"),
              path: "/recognitionOCR",
            },
            {
              name: "密码",
              src: require("@/assets/mima.png"),
              path: "",
            },
            {
              name: "水印",
              src: require("@/assets/shuiyin.png"),
              path: "",
            },
            {
              name: "压缩",
              src: require("@/assets/yasuo.png"),
              path: "",
            },
          ],
        },
        {
          title: "其他",
          gongjuList: [
            {
              name: "辅助工具",
              src: require("@/assets/gjicon.png"),
              path: "",
            },
            {
              name: "索引",
              src: require("@/assets/suoyin.png"),
              path: "",
            },
          ],
        },
      ],
      tableNum: 0,
    };
  },
  mounted() {},
  created() {
    // 获取数据
    this.getFileOptionList();
  },
  methods: {
    // 功能按钮跳转
    routerPath(event, val) {
      if (val == "") {
        this.$message.info("正在开发中，敬请期待");
      } else {
        if (event.ctrlKey && event.button === 0) {
          // 执行你的逻辑
          const router = this.$router;
          const url = router.resolve({ path: val }).href;
          window.open(url, "_blank");
        } else {
          this.$router.push({ path: val });
        }
      }
    },
    // 点击对话记录
    recodeFun(val, i) {
      this.duihuaNow = val;
      // console.log(this.duihuaNow, "this.duihuaNow");
      this.nowSelectRecode = i;
      this.zskContLoading = true;
      this.getFileOptionList(false);
    },
    // 添加文件
    xzwjTc() {
      this.fileListGz = [];
      this.dialogVisibleTjWj = true;
    },
    qxWjsc() {
      this.fileListGz = [];
      this.dialogVisibleTjWj = false;
    },
    tjWj() {
      if (this.fileListGz.length > 0) {
        this.fileDateGz = new FormData();
        this.fileDateGz.append("stringName", this.duihuaNow.database); // append增加数据
        this.fileDateGz.append("stringId", this.duihuaNow.dataId); // append增加数据
        this.$refs.dialogFileImageQB.submit();
        this.tjwjLoading = true;
        uploading(this.fileDateGz).then((res) => {
          if (res.data.status == 0) {
            this.$message.success(res.data.object);
            this.zskContLoading = true;
            this.getFileOptionList();
            this.dialogVisibleTjWj = false;
            this.fileListGz = [];
          } else {
            this.$message.success(res.data.object);
          }
          this.tjwjLoading = false;
        });
      }
    },
    //删除文件
    deleteWj(val) {
      console.log(val, "删除wj");
      deleteFiles({
        fileName: this.duihuaNow.database,
        files: [val.name],
      }).then((res) => {
        console.log(res, "删除res");
        if (res.data.status == 0) {
          this.$message.success(res.data.object);
          this.zskContLoading = true;
          this.getFileOptionList();
        } else {
          this.$message.success(res.data.object);
        }
      });
    },
    delZsk(val, i) {
      console.log(val, "删除zzk");
      deleteFiles({
        fileName: val.database,
        files: [],
      }).then((res) => {
        console.log(res, "删除zskres");
        if (res.data.status == 0) {
          this.$message.success(res.data.object);
          this.nowSelectRecode = -1;
          this.zskListLoading = true;
          this.getFileOptionList();
        } else {
          this.$message.success(res.data.object);
        }
      });
    },
    // 新增知识库
    openTjzsk() {
      this.tjzskInput = "";
      this.dialogVisibleTjzsk = true;
    },
    xinzZsk() {
      this.tjzskLoading = true;
      insert({ fileName: this.tjzskInput }).then((res) => {
        if (res.data.status == 0) {
          this.$message.success(res.data.object);
          this.getFileOptionList();
          this.dialogVisibleTjzsk = false;
        } else {
          this.$message.success(res.data.object);
        }
        this.tjzskLoading = false;
      });
    },
    //分页
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
    },
    //获取知识库列表
    async getFileOptionList(init = true) {
      // this.zskListLoading = true;
      const { data: res } = await getFiles({}).catch((err) => {
        this.zskListLoading = false;
      });
      this.options = res.object.map((item) => {
        item.value = item.dataUrl;
        item.label = item.database;
        return item;
      });
      if (this.nowSelectRecode < 0) {
        this.nowSelectRecode =
          this.options && this.options.length > 0 && init
            ? 0
            : this.nowSelectRecode;
      }
      // console.log(this.options, "this.options");

      if (this.nowSelectRecode >= 0) {
        this.tableData = this.options[this.nowSelectRecode]?.dataSources;
        this.duihuaNow = this.options[this.nowSelectRecode];
        this.tableNum++;
      }
      this.zskListLoading = false;
      this.zskContLoading = false;
      // console.log(this.tableData, "this.tableData");
    },
    async selectFiled() {
      const { data: res } = await selectFiled({
        filedUrl: this.options[this.nowSelectRecode].dataUrl,
        souSuoValue: this.searchVal,
      });
      this.tableData = res.object;
      this.tableNum++;
      // console.log(this.options, "this.options");
    },
    //文件上传
    // beforeUploadImageQB(file) {
    //   let testmsg = file.name.substring(file.name.lastIndexOf(".") + 1);
    //   const extension = testmsg === "txt";
    //   const extension2 = testmsg === "docx";
    //   const extension3 = testmsg === "doc";
    //   const extension4 = testmsg === "pdf";
    //   const extension5 = testmsg === "xlsx";
    //   if (
    //     !extension &&
    //     !extension2 &&
    //     !extension3 &&
    //     !extension4 &&
    //     !extension5
    //   ) {
    //     this.$message({
    //       message: "上传文件只能是 txt, docx, doc, pdf, xlsx格式!",
    //       type: "warning",
    //     });
    //     return false;
    //   }
    // },
    handleChangeImageQB(file, fileList) {
      // console.log(file, fileList, "111111111111111");
      this.fileListGz = fileList;
    },
    async handleRemoveImageQB(file, fileList) {
      // console.log(file, fileList, "移除");
      this.fileListGz = fileList;
    },

    uploadFileImageQB(file) {
      this.fileDateGz.append("files", file.file); // append增加数据
    },
  },
};
</script>

<style scoped lang="scss">
.quesAnswerWarp {
  width: 100%;
  height: 100%;
  display: flex;
  .left {
    width: 317px;
    height: 100%;
    .title {
      height: 70px;
      display: flex;
      padding: 0 20px;
      justify-content: space-between;
      .wdjilgl {
        line-height: 70px;
        font-size: 18px;
        font-weight: bold;
        color: #212121;
      }
      .icon {
        .el-icon-plus {
          font-size: 24px;
          margin-top: 22px;
          cursor: pointer;
          color: #999999;
          font-weight: bold;
        }
      }
    }
    .contentWarp {
      height: calc(100% - 70px);
      box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
      // background-color: bisque;
      overflow: auto;
      //   &::-webkit-scrollbar {
      //     width: 0;
      //   }
      /* 宽度和高度 */
      &::-webkit-scrollbar {
        width: 12px; /* 宽度 */
        height: 12px; /* 高度 */
      }
      /* 轨道 */
      &::-webkit-scrollbar-track {
        background: #888; /* 轨道背景颜色 */
        border-radius: 6px; /* 滑块圆角 */
      }
      /* 滑块 */
      &::-webkit-scrollbar-thumb {
        background: #212121; /* 滑块颜色 */
        border-radius: 6px; /* 滑块圆角 */
      }
      /* 滑块悬停状态 */
      &::-webkit-scrollbar-thumb:hover {
        background: rgb(43, 43, 43); /* 悬停时的滑块颜色 */
      }
      .neirong {
        padding: 10px 20px 0 20px;
        display: flex;
        justify-content: space-between;
        height: 79px;
        border-bottom: 1px solid #818181;
        cursor: pointer;
        .nrLeft {
          position: relative;
          p {
            line-height: 30px;
            font-size: 18px;
            font-weight: bold;
            color: #212121;
            width: 270px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .icondel {
            position: absolute;
            top: 50px;
            left: 265px;
            font-size: 16px;
          }
          .icondel:hover {
            color: red;
          }
        }
        .nrRight {
          color: #565555;
        }
      }
      .neirong:hover {
        background-color: #ccdaed;
      }
      .nowSelect {
        background-color: #ccdaed;
      }
    }
  }
  .middle {
    flex: 1;
    // width: calc(100% - 344px - 317px);
    height: 100%;
    .middleTop {
      height: 70px;
      padding: 10px 0 0 20px;
      display: flex;
      .xinzeng {
        width: 88px;
        height: 38px;
        border: 1px solid #0046a3;
        background-color: #0046a3;
        padding: 5px 0 0 25px;
        margin: 10px 5px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
      }
      .inputCx {
        margin: 10px 0 0 10px;
        width: 500px;
      }
    }
    .middleBottom {
      padding: 0 5px 20px 0;
      height: calc(100% - 70px);
      width: calc(100% - 10px);
      .dialogueWarp {
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
        .tableWarp {
          // max-width: calc(100% - 5px);
          height: 100%;
          /deep/ .el-table {
            // height: calc(100% - 50px);
            border-radius: 10px;
          }
        }
        .pageWarp {
          text-align: right;
          padding: 10px 20px;
        }
      }
    }
  }
  .noDataMiddle {
    width: calc(100% - 344px - 317px);
    height: 100%;
  }
  .right {
    width: 344px;
    height: 100%;
    background-color: #ccdaed;
    .sheding {
      height: 70px;
      display: flex;
      padding: 0 20px;
      justify-content: space-between;
      .wdjilgl {
        line-height: 70px;
        font-size: 18px;
        font-weight: bold;
        color: #212121;
      }
    }
    .rightBottom {
      padding: 10px 20px;
      .chaocanshu {
        .ccswarp {
          height: 40px;
        }
        .zhuyi {
          /deep/ .el-alert__content {
            margin-top: -5px;
          }
        }
      }
      .subjectBj {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-around;
        .sbwarp {
          width: 70px;
          height: 70px;
          border: 1px solid #fff;
          background-color: #e5ecf6;
          border-radius: 5px;
          margin: 0 6px 10px 0;
          cursor: pointer;
          .bj {
            margin: 10px 20px 5px 20px;
            width: 30px;
            height: 30px;
            // background: url("~@/assets/ocrbj.png") no-repeat;
            // background-size: 100% 100%;
            // background-attachment: fixed;
          }
          p {
            width: 69px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            font-size: 14px;
          }
        }
        .sbwarp:hover {
          border: 1px solid #6689b7;
          background-color: #cddef2;
        }
      }
    }
  }
  .tjwjDialog {
    & .tjwjUploadWarp {
      // /deep/ .el-upload-dragger {
      //   width: 305px !important;
      //   height: 150px !important;
      // }
      /deep/ .el-upload-list {
        // height: 210px;
        max-height: 200px;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 12px; /* 宽度 */
          height: 12px; /* 高度 */
        }
        /* 轨道 */
        &::-webkit-scrollbar-track {
          background: #888; /* 轨道背景颜色 */
          border-radius: 6px; /* 滑块圆角 */
        }
        /* 滑块 */
        &::-webkit-scrollbar-thumb {
          background: #212121; /* 滑块颜色 */
          border-radius: 6px; /* 滑块圆角 */
        }
        /* 滑块悬停状态 */
        &::-webkit-scrollbar-thumb:hover {
          background: rgb(43, 43, 43); /* 悬停时的滑块颜色 */
        }
      }
    }
  }
}
</style>
