<template>
  <div class="storeWarp">
    <div class="appWarp">
      <div
        class="appBox"
        v-for="(item, i) in sstoreList"
        :key="i"
        @click="appSelect($event, item, i)"
      >
        <div><img :src="item.src" alt="" /></div>
        <p>{{ item.name }}</p>
      </div>
    </div>
  </div>
</template>

<script>
// import {
//   getAnswersName,
//   getAllRecords,
//   postAnswer,
//   getFiles,
//   download,
//   deleteIds,
//   deleteFile,
// } from "@/api/index.js";
export default {
  data() {
    return {
      sstoreList: [
        {
          name: "维修问诊",
          path: "/intelligentBusiness",
          src: require("@/assets/wxwzIcon.png"),
        },
        {
          name: "战场侦察",
          path: "/intelligentBusiness",
          src: require("@/assets/zczc.png"),
        },
        {
          name: "指挥控制",
          path: "/intelligentBusiness",
          src: require("@/assets/zhkz.png"),
        },
        {
          name: "态势预测",
          path: "/intelligentBusiness",
          src: require("@/assets/tsyc.png"),
        },
        {
          name: "模拟战场",
          path: "/intelligentBusiness",
          src: require("@/assets/mnzc.png"),
        },
        {
          name: "作业训练",
          path: "/intelligentBusiness",
          src: require("@/assets/zyxl.png"),
        },
        {
          name: "心理咨询",
          path: "/intelligentBusiness",
          src: require("@/assets/xlzx.png"),
        },
        {
          name: "医疗保健",
          path: "/intelligentBusiness",
          src: require("@/assets/ylbj.png"),
        },
      ],
    };
  },
  created() {},
  mounted() {},
  methods: {
    //选择跳转路由
    appSelect(event, val, i) {
      if (i == 0) {
        if (event.ctrlKey && event.button === 0) {
          // 执行你的逻辑
          const router = this.$router;
          const url = router.resolve({ path: val.path }).href;
          window.open(url, "_blank");
        } else {
          this.$router.push({ path: val.path });
        }
      } else {
        this.$message.info("正在开发中，敬请期待");
      }
    },
  },
};
</script>

<style scoped lang="scss">
.storeWarp {
  width: 100%;
  height: 100%;
  padding: 50px 100px;
  .appWarp {
    width: 100%;
    max-height: 100%;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    .appBox {
      width: 135px;
      height: 135px;
      margin: 10px 40px 10px 0;
      cursor: pointer;
      div {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        transition: all 0.2s;
      }
      p {
        width: 135px;
        text-align: center;
        line-height: 35px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .appBox:hover {
      div {
        transform: scale(1.1);
      }
    }
  }
}
</style>
