<template>
  <div class="warpOcr" v-loading="warpLoading">
    <!-- 中 -->
    <div class="middle" v-if="tpList.length > 0">
      <div class="midTop">
        <el-carousel
          height="420px"
          arrow="always"
          @change="tpqh"
          ref="carousel"
          :autoplay="false"
        >
          <el-carousel-item v-for="(item, i) in tpList" :key="i">
            <img :src="item.fileUrl" alt="" />
          </el-carousel-item>
        </el-carousel>
      </div>
      <div class="midMid">
        <el-input
          v-model="nowTpms"
          placeholder="请输入图片描述"
          type="textarea"
          :autosize="{ minRows: 13, maxRows: 13 }"
          resize="none"
        ></el-input>
        <el-button
          plain
          style="float: right; margin: 10px 20px"
          @click="sureBtn($event)"
          >确定</el-button
        >
      </div>
      <div class="midBot">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="page.currentPage"
          :page-size="page.pageSize"
          layout="total, prev, pager, next, jumper"
          :total="page.total"
        >
        </el-pagination>
      </div>
    </div>
    <div class="middle" v-else>
      <el-empty :image-size="200"></el-empty>
    </div>
    <!-- 右 -->
    <div class="right">
      <div class="sheding">
        <div class="wdjilgl">设定</div>
      </div>
      <div class="rightBottom">
        <!-- 检索参数 -->
        <div class="chaocanshu">
          <div class="ccswarp">
            <i class="el-icon-arrow-down"></i>
            上传图片
          </div>
          <div class="sctp" @click="tpscFun">上传图片</div>
          <div class="ccswarp">
            <i class="el-icon-arrow-down"></i>
            创建参数
          </div>
          <div class="canshu">
            <div class="kzhi">
              <p>文件名：</p>
              <el-input
                v-model="establish.fileName"
                placeholder="请输入文件名"
              ></el-input>
            </div>
            <div class="kzhi">
              <p>文件描述：</p>
              <el-input
                v-model="establish.fileMs"
                placeholder="请输入文件描述"
                type="textarea"
                :autosize="{ minRows: 8, maxRows: 8 }"
                resize="none"
              ></el-input>
            </div>
            <div class="kzhi">
              <p>创建人：</p>
              <el-input
                v-model="establish.cjName"
                placeholder="请输入创建人"
              ></el-input>
            </div>
            <div class="wccj" @click="completeCreation">
              <p>完成创建</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 上传图片弹窗 -->
    <el-dialog
      title="上传图片"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :visible.sync="dialogVisibleTpsc"
      width="850px"
      v-loading="dialogTpscLoading"
    >
      <div style="max-height: 300px; overflow: auto">
        <el-upload
          :action="`${apiConfig}/ocrController/upload`"
          multiple
          ref="dialogFileTpsc"
          list-type="picture-card"
          :auto-upload="false"
          :file-list="fileListTp"
          :on-change="handleChangeTp"
          :on-remove="handleRemove"
          :http-request="uploadFileFunTpsc"
          accept="image/png, image/jpg, image/jpeg"
        >
          <i slot="default" class="el-icon-plus"></i>
        </el-upload>
      </div>
      <div style="margin: 5px">只能上传png/jpg/jpeg文件</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleTpsc = false">取 消</el-button>
        <el-button type="primary" @click="sureTpscFun">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
  
  <script>
import { ocrControllerUpload, ocrControllerLoadPdf } from "@/api/index.js";
export default {
  data() {
    return {
      apiConfig: apiConfig,
      // 图片路径
      tpList: [
        // {
        //   fileContent: "1111111",
        //   fileUrl: "192.168.130.96:9092/src/main/resources/static/uploads/07eeb223-f715-46f8-beb5-7b646bbc9f7e.jpg",
        // },
      ],
      nowTpms: "",
      nowIdx: 0,
      // 创建参数
      establish: {
        fileName: "",
        fileMs: "",
        cjName: "",
      },
      // 分页
      page: {
        total: 1,
        currentPage: 1,
        pageSize: 1,
      },
      dialogVisibleTpsc: false,
      dialogTpscLoading: false,
      warpLoading: false,
      fileListTp: [],
      fileDataTp: {},
    };
  },
  created() {},
  mounted() {},
  methods: {
    // 完成创建
    completeCreation() {
      if (this.establish.fileName.trim() == "") {
        return this.$message.warning("请输入文件名");
      }
      if (this.establish.fileMs.trim() == "") {
        return this.$message.warning("请输入文件描述");
      }
      if (this.establish.cjName.trim() == "") {
        return this.$message.warning("请输入创建人");
      }
      if (this.tpList.length == 0) {
        return this.$message.warning("请先上传图片并识别");
      }
      let obj = {
        fileName: this.establish.fileName,
        fileDescribe: this.establish.fileMs,
        fileUser: this.establish.cjName,
        ocrImagesEntities: this.tpList,
      };
      this.warpLoading = true;
      ocrControllerLoadPdf(obj)
        .then((res) => {
          //处理成功响应;
          if (res.status == 200) {
            // 创建一个 Blob 对象表示接收到的 PDF 数据
            var blob = new Blob([res.data], { type: "application/pdf" });
            // 创建一个 URL 对象指向该 Blob 对象
            var url = window.URL.createObjectURL(blob);
            // 创建一个隐藏的<a>元素，并设置其属性以便下载文件
            var a = document.createElement("a");
            a.href = url;
            a.download = `${this.establish.fileName}.pdf`; //替换为您希望的文件名
            // 将 <a> 元素添加到页面上
            document.body.appendChild(a);
            // 模拟用户点击该链接以触发下载
            a.click();
            // 清理 URL 对象
            window.URL.revokeObjectURL(url);
            this.$message.success("创建成功");
            this.establish = {
              fileName: "",
              fileMs: "",
              cjName: "",
            };
            this.tpList = [];
            this.fileListTp = [];
            this.fileDataTp = {};
            this.page = {
              total: 1,
              currentPage: 1,
              pageSize: 1,
            };
            this.nowTpms = "";
            this.nowIdx = 0;
          } else {
            this.$message.error("创建失败");
          }
          this.warpLoading = false;
        })
        .catch((err) => {
          console.log(err);
          this.warpLoading = false;
        });
    },
    tpqh(nexti) {
      this.nowTpms = this.tpList[nexti].fileContent;
      this.nowIdx = nexti;
      this.page.currentPage = nexti + 1;
    },
    sureBtn(e) {
      let target = e.target;
      if (target.nodeName === "SPAN") {
        target = e.target.parentNode;
      }
      target.blur();
      this.tpList[this.nowIdx].fileContent = this.nowTpms;
      this.$message.success("修改成功");
    },
    tpscFun() {
      this.fileListTp = [];
      this.fileDataTp = {};
      this.dialogVisibleTpsc = true;
    },
    // 分页
    handleCurrentChange(val) {
      this.page.currentPage = val;
      this.nowTpms = this.tpList[val - 1].fileContent;
      this.nowIdx = val - 1;
      this.$refs.carousel.setActiveItem(val - 1);
    },
    sureTpscFun() {
      this.fileDataTp = new FormData(); // new formData对象
      //@ts-ignore
      this.$refs.dialogFileTpsc.submit(); // 提交调用uploadFileFunTpsc函数
      this.dialogTpscLoading = true;
      //调用接口
      ocrControllerUpload(this.fileDataTp)
        .then((res) => {
          this.page.total = res.data.object.length;
          this.tpList = res.data.object;
          this.nowTpms = this.tpList[0].fileContent;
          this.dialogVisibleTpsc = false;
          this.dialogTpscLoading = false;
        })
        .catch((err) => {
          this.dialogTpscLoading = false;
          console.log(err);
        });
    },
    uploadFileFunTpsc(file, fileList) {
      this.fileDataTp.append("files", file.file);
      // this.fileDataTp.append("page", this.page.currentPage);
      // this.fileDataTp.append("pageSize", this.page.pageSize);
    },
    // 文件上传
    handleChangeTp(file, fileList) {
      let testmsg = file.name.substring(file.name.lastIndexOf(".") + 1);
      const extension = testmsg === "jpg";
      const extension2 = testmsg === "png";
      const extension4 = testmsg === "jpeg";
      if (!extension && !extension2 && !extension4) {
        this.$message({
          message: "上传文件只能是 jpg, jpeg, png格式!",
          type: "warning",
        });
        fileList.pop();
        return false;
      }
      if (fileList.length > 20) {
        this.$message({
          message: "最多上传20张图片！",
          type: "warning",
        });
        fileList.pop();
        return false;
      }
      this.fileListTp = fileList;
    },
    handleRemove(file, fileList) {
      this.fileListTp = fileList;
    },
  },
};
</script>
  
<style scoped lang="scss">
.warpOcr {
  /deep/ .el-textarea__inner,
  /deep/ .el-input__inner {
    font-family: "Microsoft";
    font-size: 18px;
  }
  width: 100%;
  height: 100%;
  display: flex;
  .middle {
    width: calc(100% - 344px);
    height: 100%;
    padding: 20px;
    .midTop {
      margin-bottom: 40px;
      .el-carousel__item {
        background-color: #d3dce6;
      }
      /deep/ .el-carousel__arrow {
        background-color: #000 !important;
      }
      /deep/ .el-carousel__indicators--horizontal {
        display: none;
      }
      img {
        width: calc(100% - 110px);
        margin-left: 55px;
        height: 500px;
        object-fit: contain;
      }
    }
    .midBot {
      margin-top: 50px;
      text-align: center;
    }
    /deep/ .el-empty {
      margin-top: 35%;
      transform: translateY(-50%);
    }
  }
  .right {
    width: 344px;
    height: 100%;
    background-color: #ccdaed;
    .sheding {
      height: 70px;
      display: flex;
      padding: 0 20px;
      justify-content: space-between;
      .wdjilgl {
        line-height: 70px;
        font-size: 18px;
        font-weight: bold;
        color: #212121;
      }
    }
    .rightBottom {
      padding: 10px 20px;
      .chaocanshu {
        .sctp {
          width: 100%;
          line-height: 38px;
          border: 1px solid #0046a3;
          background-color: #fff;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;
          margin-bottom: 10px;
        }
        .sctp:hover {
          background-color: #bfd8fa;
        }
        .ccswarp {
          height: 40px;
        }
        .zhuyi {
          /deep/ .el-alert__content {
            margin-top: -5px;
          }
        }
        .canshu {
          .kzhi {
            margin: 5px 0;
            p {
              margin: 3px 0;
            }
            span {
              color: #000e21;
              font-size: 14px;
            }
          }
          .wccj {
            margin-top: 50px !important;
            width: 100%;
            line-height: 38px;
            border: 1px solid #0046a3;
            background-color: #fff;
            border-radius: 5px;
            cursor: pointer;
            p {
              text-align: center;
            }
          }
          .wccj:hover {
            background-color: #bfd8fa;
          }
        }
      }
    }
  }
}
</style>
  